* {
  box-sizing: border-box;
}
body {
  background-color: #202124;
  margin: 0;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-google {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  gap: 15px;
}
.header-google a {
  padding-top: 10px;
  font-size: 0.8rem;
}
.button-menu,
.button-user {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 50%;
}
.button-menu:hover,
.button-user:hover {
  box-shadow: -1px 1px 5px 9px #313134;
  cursor: pointer;
}
.button-user {
  background-color: #512da8 !important;
}

.button-search {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: black 1px solid;
  color: white;
  cursor: pointer;
}
.button-search:hover {
  border: #9aa0a6 1px solid;
}
#google {
  width: 272px;
}
.main-google {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.language {
  font-size: 0.8rem;
}
.language a {
  color: #8ab4f8;
}

.search {
  width: 50%;
  position: relative;
  margin-bottom: 20px;
}

.search::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: block;
  content: "\1F50E";
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

input[type="text"] {
  padding: 12px 30px;
  border: #9aa0a6 1px solid;
  background-color: inherit;
  width: 100%;
  border-radius: 16px;
  color: #e8eaed;
  background-image: url("magnifying-glass.svg");
}

input:focus,
input:hover {
  outline: none !important;
  border-color: #303134;
  background-color: #303134;
}

.footer-google {
  background-color: #171717;
  color: #9aa0a6;
  width: 100%;
  margin-top: auto;
}
.footer-google a {
  color: #9aa0a6;
  font-size: 0.9rem;
  padding: 10px;
}
.footer-google--top {
  padding: 0 30px;
  border-bottom: 0.1px solid #9aa0a6;
}
.footer-google--middle {
  text-align: center;
  padding: 20px;
}
.footer-google--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

#leaf {
  height: 0.8rem;
}
